@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
}

body{
	background-color:#FAFAFA;
	position:relative;
}

#wrapper{
	margin:0px auto;	
	width:75%;
}

/*header css*/
header{
	position:relative;	
	background-color:black;	
}

#cart{
	color:white;
	position:absolute;
	top:0px;	
	right:23px;	
	padding-top:2.5px;
}

#cart img{
	width:35px;
}

#logo{	
	text-align:center;
	text-decoration:none;
	font-size:28px;
	height:40px;	
}

#logo a{
	text-decoration:none;
	display:inline-block;
	margin:4px 0px;
}

#logo a:link{
	color:#F5F5F7;
}

#logo a:visited{
	color:#F5F5F7;
}

#logo a:hover{
	color:#86868B;
}

#user{
	position:absolute;
	right:85px;
	top:9.5px;
	font-size:19px;
}

#user a{
	text-decoration:none;
}

#user a:link{
	color:#F5F5F7;
}

#user a:visited{
	color:#F5F5F7;
}

#user a:hover{
	color:#86868B;
}

/*navigation css*/
nav{
	background-color:#1D1D1F;
	position:relative;
	margin:0px auto;
	height:25px;
	padding-left:7px;
}

.link{
	text-decoration:none;
	margin-left:3px;
	margin-right:3px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
	display:inline-block;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.link:link {
  color:#FAFAFA;
}

.link:visited {
  color:#FAFAFA;
}

.link:hover{
	color:black;
	background-color:#FAFAFA;	
}

#account{
	display:inline-block;
	position:absolute;
	right:10px;	
}

/*main css*/
main{
	margin:0px auto;
	padding:20px 20px;
	background-color:#FAFAFA;
	positon:relative;
}

/*footer css*/
footer{
	width:75%;
	height:40px;
	position:fixed;
	bottom:0px;	
	text-align:center;
	background-color:#86868B;
	color:#F5F5F7;
}

#footerText{
	margin-top:10.5px
}